<!-- # Salúdame 1
# 120 puntos
# Hola Maker,
#
# Tu misión en este reto es crear un aplicación Web usando Sinatra que reciba un parámetro llamado nombre en la URL y muestre un mensaje de bienvenida con el valor de ese parámetro.
#
# Por ejemplo, si ingresas a
#
# http://localhost:4567/?nombre=Juan
#
# la aplicación debe mostrar Hola Juan! dentro de una etiqueta h1.
#
# Si no recibes el query string parameter, o si viene vacío, deberás mostrar la frase Hola desconocido!.
#
# Instrucciones
# Crea una carpeta para tu solución.
# Dentro de la carpeta crea un archivo solution.rb y escribe la aplicación solicitada.
# Publica tu solución en Github.
# Ingresa el repositorio con tu solución. -->

<!-- #------------------------------------------------------------ -->

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>"Hola <%=@name%>"</h1>
  </body>
</html>
